/*
*.vscode
!/.gitignore
!/*.sh
!/ros2_ws/
/ros2_ws/*
!/ros2_ws/src/
!/teensy_ws/
/teensy_ws/*
!/teensy_ws/*.sh
!/teensy_ws/drew_uuv/
/teensy_ws/drew_uuv/*
!/teensy_ws/drew_uuv/platformio.ini
!/teensy_ws/drew_uuv/custom.meta
!/teensy_ws/drew_uuv/src/
!/teensy_ws/drew_uuv/extra_packages/
!/teensy_ws/sensor_test/
/teensy_ws/sensor_test/*
!/teensy_ws/sensor_test/platformio.ini
!/teensy_ws/sensor_test/src/
!/teensy_ws/sensor_test/include/

