/*
*.vscode
!/.gitignore
!/networkconfig
!/*.sh
!/ros2_ws/
/ros2_ws/*
!/ros2_ws/src/
!/teensy_ws/
/teensy_ws/*
!/teensy_ws/*.sh
!/teensy_ws/cougars/
/teensy_ws/cougars/*
/teensy_ws/cougars/
!/teensy_ws/cougars/platformio.ini
!/teensy_ws/cougars/custom.meta
!/teensy_ws/cougars/src/
!/teensy_ws/cougars/extra_packages/
!/teensy_ws/cougars/include/
!/teensy_ws/sensor_test/
/teensy_ws/sensor_test/*
!/teensy_ws/sensor_test/platformio.ini
!/teensy_ws/sensor_test/src/
!/teensy_ws/sensor_test/include/

